<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<ul>
  <% if (loggedUser) { %>
    Hello, <%= loggedUser.username %>!
    <li> <a href="/logout">Logout</a> </li>

  <% } else { %>

    <li> <a href="/login">Login</a> </li>
    <li> <a href="/signup">Sign up</a> </li>

  <% } %>
</ul>
